/****** General ***********/
* { 
    font-family: 'Raleway', sans-serif;
}

:root {
    /*color*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black:#000000;
    --white :#FFFFFF;
    --grey:#D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;  
}

.main-container {
    width: 100%;
    max-width: 1440px;  
    min-width: 320px;  
    padding: 0 50px;
    box-sizing: border-box;/*indique au navigateur de prendre en compte la bordure et 
    le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

main {
	margin-top:30px; /*Marge extérieur qui sépare entre le header et le main*/
}

.section-title,
.euro,
.title-container h1,
.research-input,
.research-button,
.filters-container h2,
.filters-menu li,
.footer-column h3{
    font-weight:700;
}

.card-title,
.menu a,
.title-container p,
.info-container,
.footer-ul li{
    font-size: 16px;
}


.title-container p,
.menu a,
.info-container,
.footer-ul li{
    font-weight:400;
}

.section-title, 
.title-container h1{
    font-size: 22px;
}

.section-title {
    margin: 0;
}

.card,
.accommodations-and-popular section{
    border-radius: 20px;
}


.card {
    background-color: var(--white);
    padding: 5px;
    /*permet d'appliquer une ombre portée 
    sur une image*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); 
}

.card img {
    /* l'image est dimensionné pour remplir
    toute la zone de contenu de son conteneur
    tout en gardant son rapport hauteur/largeur*/
    object-fit: cover;
}

.euro {
    font-size: 12px;    
}

 .neutralStar {
    color: var(--main-bg-color) ; 
} 

a{
    text-decoration: none;
    color: var(--black);
}

.title-container,
.filters-container,
.research-form,
.info-container {
     margin-bottom:35px;  
}

.magnifying-glass,
.research-button{
    color:var(--white); 
}

.icon-location,
.accommodations-and-popular section,
.accommodations-and-popular .most-popular,
footer{
    background-color: var(--main-bg-color); 
}

/****Entête du site(Logo + Menu de navigation)****/
header{
    display:flex;
    justify-content:space-between; 
}

#logo-container{
    width: 61.09px;
    height: 19px;
    padding:30px; 
    /* pour corriger le déclage du logo par 
    rapport au titre */
    margin-left:-30px;   
}

 .menu {
    display:flex;  
    list-style-type:none; 
    padding: 0 25px;
    gap:68px; 
}

.menu a:hover{
    color: var(--main-color); 
    border-top: 2px solid var(--main-color);  
    padding-top:20px; 
}

/*****Recherche *******/

.title-container h1{
    margin-bottom:8px;   
}

.research-form form{
    display:flex ;
    align-items: center;
    height:51px; 
}

.research-input,
.icon-location,
.research-button
{
    border: 1px solid  var(--main-bg-color);
    font-size: 18px;
}

.research-input{
    width:200px; 
    padding:15px 24px 15px 24px;
    border-left: 0px;
    /*Pour supprimer le contour d'un élément
     lors de sa prise de focus*/
    outline: none; 
}

.icon-location {
    padding: 15px;
    border-radius:15px 0px 0px 15px; 
}

.icon-location i{
    color:var(--black);
}

.research-button{
    background-color: var(--main-color);
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
}

.res-button-magnifying-glass{
    display: none;
}

/*Changer la couleur d'un input texte de l'attribut placeholder en CSS*/

.research-input::placeholder, /* W3C */
.research-input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:var(--black, #000);
}

.research-input:-moz-placeholder,  /* Mozilla Firefox 4 to 18  */
.research-input::-moz-placeholder{ /* Mozilla Firefox à partir de la version 19 */
    color:var(--black, #000);   
    opacity: 1;/*permet de modifier la transparence de l'image*/
}

.research-input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
        color:var(--black, #000);
}
    
/******Filtres******/

.filters-container{
    display:flex;
    align-items: center;  
    gap:15px; 
} 

.filters-container h2{
    font-size: 18px;
}

.filters-menu{
    display:flex;
    gap:15px;
    margin: 0px;
    padding: 0px;
}

.filters-menu li {
    display:flex;
    align-items: center; 
    list-style-type:none;
    height: 50px;  
    padding: 4px 19px;  
    gap: 10px; 
    border-radius:25px;  
    border: 2px solid var(--grey);
    font-size: 17px;
}
  
.filters-menu li:hover{
    /*le changement de couleur de fond lors du survol.*/
    background-color:var(--filter-bg-color);
}


i.filter-icon.fa-solid::before{
display:flex;
align-items: center;
justify-content: center;
width: 24px ;
height: 22px;
}

i.filter-icon.fa-solid.fa-person{
font-size:20px;
}

.fa-solid.fa-info {
    min-width: 24px;
    line-height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
}

.info-container i{
    margin-right: 10px;
}

/****** Hebergements -Populaires -Activités ***********/

.accommodations-and-popular ,
.accommodations-cards ,
.most-popular-title ,
.activities-cards {
    display: flex;
    justify-content: space-between;
}

.accommodations-and-popular section {
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.accommodations {
    width: 65%;  
}

.accommodations-cards{
     flex-wrap: wrap;  
}

.accommodations-cards .card {   
    display: flex;
    flex-direction:column;
    margin-top: 30px;  
    width:30%;   
}

.accommodations-cards img {
    width: 100%; 
    height: 124px;
    border-radius: 20px 20px 0px 0px;  
}

.accommodations-cards .card-content{ 
    padding-left: 5px;  
} 

.accommodations-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}
  
.accommodations-cards .card-subtitle {
    margin: 8px 0 ; 
 
}

.accommodations-cards  .card-rating {
    margin-bottom: 15px; 
}
    

.accommodations-cards .section-title{
    margin-top:30px;
}

/****** Populaires ******/

.most-popular {
    width: 32%;
}

.most-popular-title {
    align-items: center;
}

.most-popular-cards .card {
    display: flex;
    margin-top: 33px; 
   
}
/* 
si la carte d'hébergement les plus populaires est activable
.card .most-popular-card-link{
    display: flex;
    flex-direction: row; 
}
*/

.most-popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.most-popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.most-popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.most-popular-cards .card-subtitle {
    margin: 0;
}

.most-popular-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating .icon-star{
    color: var(--grey);
}

/********Activités à Marseille************/

.activities section {    
    padding:30px;   
    margin-top:35px;
} 

.activities-cards {
    gap:23px; 
  
}

.activities-cards .card {
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: transparent;  
    height:439px; 
}

.activities-cards .card  img {
    width: 100%;
    height:380px;  
    border-radius: 20px 20px 0px 0px; 
    margin-bottom: -3px;   
}

.activities-cards .card .card-title{
    margin-top: 0px; 
    padding: 20px 19px; 
    border-radius: 0px 0px 20px 20px;
    background: var(--white); 
    height: 40px;
}

.activities-section .section-title{
    margin-bottom: 30px;
}

/********footer**********/

footer{
    margin-top: 35px;
}

.footer-container{
    display: flex;   
}

.footer-column{
    display: flex;
    flex-direction: column;
    width:33%;
    padding:20px;
}

.footer-ul li{
    list-style-type:none; 
    margin-bottom: 15px;   
    margin-left: -30px; 
}

.footer-ul a:hover{
    color: var(--main-color);  
}

.footer-column h3{
    font-size: 18px; 
    margin-bottom: 10px;  
    margin-left: 11px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries *******/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

 /****Partie filtres***/ 

 .filters-container{
   flex-direction: column;
   /*Les éléments sont positionnés au début 
   du container filters-container*/
   align-items: flex-start;
 } 
 
 .filters-container h2{
    margin-bottom:15px;  
 }

 .filters-menu li{
    font-size:16px;
 }

 /****Hébergements*****/

 .accommodations-and-popular{
    flex-direction: column;
 }

 .accommodations {
    width: 100%;
  }

 .most-popular  {
    width: 100%;
    margin-top:50px;    
 }

 .most-popular-cards {
    /* placer les articles sur l'axe horizontale ,
    ils sont étirés sur tout l'axe
    avec un espace de 20px   */
    display: flex;   
    flex-direction:row; 
    justify-content:space-between;
    gap:20px;
 }

 .most-popular-title {
    margin-bottom: 20px;  
 }

 .most-popular-cards .card {
    width: 30%; 
    margin-top:0px;
 }

 .card-title {
    font-size: 14px;
 }

 .card-subtitle {
    font-size: 13px;
 }

/*****Activités à Marseille******/

 .activities-cards .card img{
    height:200px;     
 }

 .activities-cards  .card {
    height:270px; 
 }

 /****footer*****/

 .footer-container{
    gap:30px;
 } 


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin:0;
    }

    .main-container {
        /*pas de marge intérieure entre
         main-container et ses propres limites*/
        padding: 0px;
    }
    
    header ,
    .footer-container,
    .most-popular-cards,
    .accommodations-cards,
    .activities-cards{
        flex-direction: column;
    }

    /* Entête du site (le logo+le menu de navigation)*/  
   
    #logo-container{
        margin:auto; 
    }
   
    .menu{
        width: 100%; 
        padding: 0px;  
        margin:0px; 
        gap:0px;  
    }

    .menu li {
       text-align: center;  
       width:50%;
       border-bottom: 4px solid  var(--main-bg-color); 
       padding-bottom: 15px;
    }

    .menu li:hover{   
        border-bottom: 4px solid var(--main-color);
    }

    .menu li a:hover{
        color: var(--main-color); 
        border-top:transparent;
    }

  /*****Recherche*****/
    .research-section,
    .filters-section {
      padding: 0px 15px; 
    }

    .research-button{
        display: none;
    }
 
    .res-button-magnifying-glass{
        /* bouton loupe se comporte comme 
        un élément en ligne et dispose 
        son contenu(icone) selon le modèle 
        flexbox*/
        display: inline-flex;
        align-items: center;
        gap: 10px;
        height:51px;
        padding: 15px 16px;
        border-radius: 15px;
        margin-left:-8px;
        border: none; 
        background: var(--main-color);
    }  

    .research-input{
        border-right: 0;
        width:160px; 
        font-size:16px;
    }

   

/*****filtres*******/

    .filters-menu{
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
    }

    .filters-menu li {
        font-size: 14px;  
    }

    .filters-menu li:nth-child(2){
       padding-right: 45px;
    }

/***********hébergements **********/

    .accommodations-and-popular{
        flex-direction: column-reverse;
    }

    .accommodations-and-popular .accommodations{
        padding: 20px;
        margin-top:15px; 
    }

    .accommodations-and-popular section{
        background-color: transparent; 
    }
    
    .accommodations-cards .section-title{
        margin-top:15px;
    }
    
    .most-popular-title {
        margin-bottom: 15px;
    }

    .most-popular-cards{
        gap:15px;
    }  

    .most-popular-cards .card {
        width:95%;
    }

    .accommodations-and-popular .most-popular {
        border-radius:0;
        margin-top: 0px; 
        padding: 30px 20px;    
    }
   
    .accommodations-cards{
        gap:15px;
        margin-top:15px ; 
    }

    .accommodations-cards .card{
        width:95%; 
        margin-top:0px;
    }

    /*Activités */

    .activities-cards{
        gap:15px;
    }

    .activities-cards .card{
        width: 100%;
    }

    .activities-cards .card .card-title {
        height: 20px;
    }

    /**footer**/
    
    .footer-container{
        gap:50px; 
        padding:30px;
    }

    .footer-column{
        width:100%;
        padding:0px;
    }
    
}


