/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
   
}

:root {
    /*color*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black:#000000;
    --white :#FFFFFF;
    --grey:#D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

.fa-solid.fa-info {
    min-width: 24px;
    line-height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;  
}

/****div de body***/
.main-container {
    width: 100%;
    max-width: 1440px;  
    min-width: 320px;  
    padding: 0 50px;
    box-sizing: border-box;/*indique au navigateur de prendre en compte la bordure et 
    le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

main {
	margin-top:30px; /*Marge extérieur qui sépare entre le header et le main*/
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    /*permet d'appliquer une ombre portée 
    sur une image*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); 
}

.card img {
    /* l'image est dimensionné pour remplir
    toute la zone de contenu de son conteneur
    tout en gardant son rapport hauteur/largeur*/
    object-fit: cover;
}

.card-title {
    font-size: 16px;  
}

.euro {
    font-weight: 600;
    font-size: 12px;    
}

 .neutralStar {
    color: var(--main-bg-color) ; 
} 

a{
    text-decoration: none;
    color:black;
}

footer{
    background-color: var(--main-bg-color);
    margin-top: 35px;
  
}

/*******Entête du site(Logo + Menu de navigation)******/
header{
    display:flex;
    justify-content:space-between; 
}

#logo-container{
    padding:30px; 
}

#logo-container img{
    width: 61.09px;
    height: 19px;
    /* pour corriger le déclage du logo par 
    rapport au titre */
    margin-left:-30px; 
}

nav{
    display:flex;
    align-items:center;
}

nav ul {
    display:flex;  
    list-style-type:none; 
}

.menu li{
    padding: 0 25px;
}

.menu a{ 
    font-weight:400;
    font-size:16px; 
}

.menu a:hover{
    color: var(--main-color); 
    border-top: 2px solid #0065FC;  
    padding-top:38px; 
}

/*********Recherche ***********/

.title-container h1{
    font-weight:700;
    font-size:22px;
    margin-bottom:8px;   
}

.title-container p{
     font-weight:400;
     font-size:16px;
     margin-bottom:35px;
}

.research-form form{
    display:flex ;
    align-items: center;
    height:49px; 
    margin-bottom: 35px; 
}


.research-input{
    width:210px; 
    padding:15px 24px 15px 24px;
    border: solid 1px var(--grey, #F2F2F2);
    border-left: 0px;
    /* color:var(--black); */
    font-weight: 700;
    font-size: 18px;
    /*Pour supprimer le contour d'un élément
     lors de sa prise de focus*/
    outline: none; 
}

.icon-location {
    font-size: 17px; 
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius:15px 0px 0px 15px; 
}

.icon-location i{
    color:var(--black);
}

.research-button{
    background-color: var(--main-color);
    color:var(--white); 
    width: 132px;
    border: 0px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
    font-weight:700;
    font-size: 18px;
}
.res-button-magnifying-glass{
    display: none;
}

/****Changer la couleur d'un input texte de l'attribut placeholder en CSS ****/
/*
#search-input::placeholder {
    color:var(--black, #000);
    opacity: 1;
}
*/
#search-input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */ 
    color:var(--black, #000);
}
#search-input::-moz-placeholder{ /* Mozilla Firefox à partir de la version 19 */
    color:var(--black, #000);
    opacity: 1;/*permet de modifier la transparence de l'image*/
}
#search-input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color:var(--black, #000);
}


/**************************Filtres******************************/
.filters-container{
    display:flex;
    align-items: center;
    margin-bottom:35px;
    /* width:100%; */
} 

.filters-container h2{
    font-size: 18px;
    font-weight: 700;  
}

.filters-menu{
    display:flex;
    gap:15px;
}

.filters-menu li {
    display:flex;
    align-items: center;
    list-style-type:none;
    height: 50px; 
    padding: 4px 19px;
    gap: 10px; 
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    font-size: 17px;
    font-weight: 700;
    
}
  
.filters-menu li:hover{
    /*le changement de couleur de fond lors du survol.*/
    background-color:var(--blue-light, #DEEBFF);
}

.info-container {
   /* display:flex;
    align-items: center;*/
    /* height: 24px; */
    /* gap:10px; */
    margin-bottom:35px ;
    font-size: 16px;
    font-weight: 400;
}
/*
.info-container {
    font-size: 16px;
    font-weight: 400;
}*/
.info-container i{
    margin-right: 10px;
}

.magnifying-glass{
    color:var(--white); 
}

/****** Hebergements et Populaires ***********/

.accommodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.accommodations {
    width: 65%;  
}

.accommodations-marseille-cards{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;  
    justify-content: space-between;
}

.accommodations-marseille-cards .card {   
    display: flex;
    flex-direction:column;
    margin-top: 30px;  
    width:30%;
}

.accommodations-marseille-cards img {
    width: 100%; 
    height: 124px;
    border-radius: 20px 20px 0px 0px;  
}

.accommodations-marseille-cards .card-content{ 
    padding-left:5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;        
} 

.accommodations-marseille-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}
  
.accommodations-marseille-cards .card-subtitle {
    margin: 8px 0 ; 
 
}

.accommodations-marseille-cards  .card-rating {
    margin-bottom: 15px; 
}
    
.title-show-more .section-title{
    margin-top:30px;
}

/****** Populaires ***********/
.most-popular {
    width: 32%;
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.most-popular-cards .card {
    display: flex;
    margin-top: 33px; 
   
}
/*
.card .most-popular-card-link{
    display: flex;
    flex-direction: row; 
}
*/
.most-popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.most-popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.most-popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.most-popular-cards .card-subtitle {
    margin: 0;
}

.most-popular-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating .icon-star{
    color: var(--grey);
}

/********Activités à Marseille************/

.activities-marseille section {    
    padding:30px;   
    margin-top:35px;
} 

.activities-marseille-container {
    display: flex;
    justify-content: space-between;
    gap:23px; 
    /* gap:30px;  */
}

.activities-marseille-container .card {
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: transparent;  
    height:439px; 
}

.activities-marseille-container .card  img {
    width: 100%;
    height:380px;  
    border-radius: 20px 20px 0px 0px; 
    margin-bottom: -3px;   
}

.activities-marseille-container .card .card-title{
    margin-top: 0px; 
    padding: 20px 19px; 
    border-radius: 0px 0px 20px 20px;
    background: var(--white); 
    height: 40px;
}

.activities-marseille-section .section-title{
    margin-bottom: 30px;
}

/**************footer********************/
.footer-container{
    display: flex;   
}

.footer-column{
    display: flex;
    flex-direction: column;
    width:33%;
    padding:20px;
}

.footer-ul li{
    list-style-type:none; 
    margin-bottom: 15px;   
    font-size:16px;
    font-weight: 400;  
}

.footer-ul a:hover{
    color: var(--main-color);  
}

.footer-column h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;  
    margin-left: 37px; 
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

 /****Partie filtres***/ 

 .filters-container{
   flex-direction: column;
   /* justify-content: center;  */
   /*Les éléments sont positionnés au début 
   du container filters-container*/
   align-items: flex-start;
 } 
 
 .filters-container h2{
    margin-bottom:15px;  
 }
 
 .filters-menu{
    /* pour corriger le déclage de la liste 
    rapport au titre filtres*/
    margin-left:-40px;  
 }

 .filters-menu li{
    font-size:16px;
 }

 /****Hébergements*****/
 .accommodations-and-popular{
    flex-direction: column;
 }

 .accommodations {
    width: 100%;
  }

 .most-popular  {
    width: 100%;
    margin-top:50px;    
 }

 .most-popular-cards {
    /* placer les articles sur l'axe horizontale ,
    ils sont étirés sur tout l'axe
    avec un espace de 20px   */
    display: flex;   
    flex-direction:row; 
    justify-content:space-between;
    gap:20px;
 }

 .most-popular-title {
    margin-bottom: 20px;  
 }

 .most-popular-cards .card {
    width: 30%; 
    margin-top:0px
 }

 .card-title {
    font-size: 14px;
 }

 .card-subtitle {
    font-size: 13px;
 }

/*****Activités à Marseille******/

 .activities-marseille-container .card img{
    height:200px;     
 }

 .activities-marseille-container  .card {
    height:270px; 
 }

 /*footer*/

 .footer-container{
    gap:30px;
 } 


}

/* Small devices (phones, less than 768px) */
@media screen and (min-width: 320px) and (max-width: 767.98px) {
   
    .main-container {
        /*pas de marge intérieure entre
         main-container et ses propres limites*/
        padding: 0px;
    }

    /* Entête du site (le logo+le menu de navigation)*/  
    header{
        flex-direction: column;
    }

    #logo-container{
    /*display: flex;
        justify-content: center; */
        margin:auto;
    }

    nav ul {
        justify-content: space-between;
        width: 100%; 
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 10px; 
        padding: 0px; 
        margin:0px;
        
    }
       
    .menu li:hover{
        /*apparaitre sur les li un bordure 
        en dessous au moment où l'utilisateur
        le survole avec le pointeur */
        width:50%;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    .menu li a:hover{  
        color: var(--main-color); 
        border-top:0;/*supprimer la bordure*/
    }

  /*****Recherche*****/
    .research-section,
    .filters-section {
      padding: 0px 13px; 
      /* padding:0px 20px;  */
    }

    .research-button{
        display: none;
    }
 
    .res-button-magnifying-glass{
        /* bouton loupe se comporte comme 
        un élément en ligne et dispose 
        son contenu(icone) selon le modèle 
        flexbox*/
        display: inline-flex;
        align-items: center;
        gap: 10px;
        height: 49px;
        padding: 15px 16px;
        border-radius: 10px;
        border: none; 
        background: var(--blue, #0065FC);
    }  

    .research-input{
        border-right: 0;
    }

   

/*****filtres*******/

    .filters-menu{
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
    }

    .filters-menu li {
        font-size: 13px;  
    }

    .filters-menu li:nth-child(2){
       padding:4px 30px;
    }
/***********hébergements **********/
    .accommodations-and-popular{
        flex-direction: column-reverse;
    }

    .accommodations-and-popular .accommodations{
        padding: 20px;
        margin-top:15px; 
    }

    .accommodations-and-popular section{
        background-color: transparent; 
    }
    
    .most-popular-title {
        margin-bottom: 15px;
    }

    .most-popular-cards{
        flex-direction: column;
        gap:15px;
    }  

    .most-popular-cards .card {
        width:95%;
    }

    .accommodations-and-popular .most-popular {
        background-color: var(--main-bg-color);
        border-radius:0;
        margin-top: 0px; 
        padding: 30px 20px;    
    }
   
    .accommodations-marseille-cards{
        flex-direction: column;
        gap:15px;
        margin-top:15px ; 
    }
    .accommodations-marseille-cards .card{
        width:95%; 
        margin-top:0px;
    }

    /*Activités */

    .activities-marseille-container{
        flex-direction: column;
        gap:15px;
    }

    .activities-marseille-container .card{
        width: 100%;
    }

    .activities-marseille-container .card .card-title {
        height: 20px;
    }

    /**footer**/
    
    .footer-container{
        flex-direction: column;
        gap:50px; 
        padding:30px;
    }

    .footer-column{
        width:100%;
        padding:0px;
    }
    
}


